.projects {
  position: relative;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--spacing-S);
  margin-top: var(--spacing-L);
  margin-bottom: var(--spacing-M);

  @media only screen and (max-width: 45.25em) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-M);
    height: auto;
    margin-bottom: var(--spacing-S);
  }
}

.containeur_project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: var(--spacing-XS);
}

.imgLink_containeur {
  width: 100%;
  height: 90vh;
  overflow: hidden;

  @media only screen and (max-width: 45.25em) {
    height: 70vh;
    width: calc(100vw - var(--padding-inLine) * 2);
  }
}

.project__img {
  transition: all var(--transi-time-M);
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: relative;
}

.project__img:hover {
  transition: all 0.2s;
  transform: scale(1.05);
}
.imgLandPreview:active {
  transition: all 0.1s;
  transform: scale(1);
}

.project__legend_container {
  position: relative;
  justify-self: right;
  align-self: last baseline;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--spacing-XS);
  text-align: right;

  @media only screen and (max-width: 45.25em) {
    align-self: flex-end;
    justify-self: flex-end;
    justify-content: flex-end;
    margin-bottom: var(--spacing-S);
  }
}

.legend_txt {
  font-family: var(--font-legend);
  font-weight: var(--font-heading-regular);
  font-style: italic;
  font-size: var(--font-size-bodyText_01);
  letter-spacing: var(--letter-spacing-XS);
  color: var(--font-color-main);
  position: relative;
  cursor: pointer;

  @media only screen and (max-width: 65em) {
    font-size: var(--font-size-bodyText_02);
  }
}
.verticalRule {
  border-left: 1px solid var(--font-color-main);
  height: var(--spacing-M);
}

.legend_txt:before {
  content: "";
  position: absolute;
  bottom: -4px;
  height: 1px;
  width: 0;
  background-color: var(--rules-color);
  transition: width var(--transi-time-S) ease-in-out;
}

.legend_txt:hover:before {
  width: calc(100% - var(--spacing-S));
}
.legend_txt:hover {
  opacity: 0.7;
}

.link_containeur {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: var(--spacing-L);
  @media only screen and (max-width: 65em) {
    margin-bottom: var(--spacing-M);
  }
}
