/* Modular CSS Architecture
 * Import modular CSS files to improve organization, maintainability and performance
 */

@import './styles/variables.css';
@import './styles/typography.css';
@import './styles/colors.css';
@import './styles/reset.css';
@import './styles/utilities.css';

/* Media Queries Reference
 * For consistency and reference - no actual CSS is applied here
 * Defined in em units (16px = 1em)

<div className={`grain ${styles.grain_opacity}`} aria-hidden="true"></div>

Descktop:
- 1344px (84em) - @media only screen and (max-width: 84em){} 

Tablet:
- 1040px (65em) - @media only screen and (max-width: 65em){} 
- 720px (45.25em) - @media only screen and (max-width: 45.25em){} 

Phones:
- 660px (41.25em) - @media only screen and (max-width: 41.25em){}
- 560px (35em) - @media only screen and (max-width: 35em){}
- 432px (27em) - @media only screen and (max-width: 27em){} 
*/





